.navbar {
	background-color: #322348;
	color: #fff;
	display: flex;
	padding: 0.5em 0.5em;
	justify-content: center;
}

.navbar div {
	margin: 0 .2em;
}

.navbar div:nth-child(2) {
	margin-left: auto;
}

.navbar:hover {
	background-color: #343a40;
}